.spinner-div {
    position: fixed;
    /* Fixed position relative to the viewport */
    top: 40%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Shift by 50% of its own size for perfect centering */
    z-index: 2001;
    /* Ensures it's on top of everything */
}

.spinner-div__loader {
    width: 48px;
    height: 48px;
    border: 5px solid #a3a3a3;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    animation: pop-up 3s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
    position: fixed;
    top: 40%;
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px;
    height: 100px;
    border-radius: 8px;

    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 2002;

    &__message {
        font-style: italic;
        font-weight: bold;
        color: #ff0000aa;
    }
}

@keyframes pop-up {
    0% {
        opacity: .5;

    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;

    }
}